In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame( 
    {"a" : [4 ,5, 6,np.nan], 
     "b" : [7, np.nan, 9,9], 
     "c" : [10, 11, np.nan,12]},    
    index = pd.MultiIndex.from_tuples( [('d',1),('d',2),('e',2),('e',3)], 
    names=['n','v']))

In [3]:
df

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  NaN  11.0
e 2  6.0  9.0   NaN
  3  NaN  9.0  12.0

In [5]:
df.tail(2)

       a    b     c
n v
e 2  6.0  9.0   NaN
  3  NaN  9.0  12.0

In [6]:
df.head(2)

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  NaN  11.0

In [10]:
df.sample(frac=0.5)
# frac 은 데이터를 랜덤하게 가져온다. 특정 비율을 지정해서 가져올수 있다. (비율)

       a    b     c
n v
e 3  NaN  9.0  12.0
d 1  4.0  7.0  10.0

In [15]:
df.sample(n=2)
#특정 row 수 만큼 랜덤하게 가져온다. (개수)

       a    b     c
n v
d 1  4.0  7.0  10.0
e 3  NaN  9.0  12.0

In [18]:
df.iloc[:2]

       a    b     c
n v
d 1  4.0  7.0  10.0
  2  5.0  NaN  11.0

In [20]:
df.iloc[1:]

       a    b     c
n v
d 2  5.0  NaN  11.0
e 2  6.0  9.0   NaN
  3  NaN  9.0  12.0

In [21]:
df.nlargest

In [22]:
df = pd.DataFrame({'a': [1, 10, 8, 10, -1],
                   'b': list('abdce'),
                   'c': [1.0, 2.0, np.nan, 3.0, 4.0]})

In [23]:
df

    a  b    c
0   1  a  1.0
1  10  b  2.0
2   8  d  NaN
3  10  c  3.0
4  -1  e  4.0

In [26]:
df.nlargest(2,'a')
# 해당 열의 가장 큰 값 2개까지 가져온다. top과 같은 기능

    a  b    c
1  10  b  2.0
3  10  c  3.0

In [28]:
df.nsmallest(1,'c')

   a  b    c
0  1  a  1.0