In [3]:
import pandas as pd
import numpy as np
df = pd.DataFrame([])
df.dropna?

In [2]:
df.dropna?

In [4]:
df = pd.DataFrame([[np.nan,2,np.nan,0],[3,4,np.nan,1],[np.nan,np.nan,np.nan,5]],
                    columns=list('ABCD'))

In [5]:
df
# nan는 결측치라 하여 데이터 분석에 어떻게 사용할건지 생각해야 한다.

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [6]:
# axis = 0 -> row 삭제 / 1 -> colunm 삭제
# how = 'all' 은 해당 row나 column이 모두 nan 값일 경우에만 삭제
df.dropna(axis = 1, how='any')

   D
0  0
1  1
2  5

In [8]:
df.dropna(axis = 0, how='all')

     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5

In [10]:
df.fillna(value=0)

     A    B    C  D
0  0.0  2.0  0.0  0
1  3.0  4.0  0.0  1
2  0.0  0.0  0.0  5

In [11]:
values = {'A':0, 'B':1, 'C':2,'D':3}
df.fillna(value=values)

     A    B    C  D
0  0.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  0.0  1.0  2.0  5

In [16]:
fill_na_value = df['D'].median()

In [14]:
df.fillna(value=df['D'].mean())

     A    B    C  D
0  2.0  2.0  2.0  0
1  3.0  4.0  2.0  1
2  2.0  2.0  2.0  5

In [17]:
df.fillna(value=fill_na_value)

     A    B    C  D
0  1.0  2.0  1.0  0
1  3.0  4.0  1.0  1
2  1.0  1.0  1.0  5

In [19]:
df.isnull().sum()

A    2
B    1
C    3
D    0
dtype: int64

In [20]:
df.notnull().sum()

A    1
B    2
C    0
D    3
dtype: int64