In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([])

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [9]:
df.assign?

In [6]:
import numpy as np
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})

In [8]:
df

    A         B
0   1  0.517271
1   2 -0.347195
2   3  0.253190
3   4  0.445356
4   5  0.580297
5   6  2.167543
6   7 -0.332208
7   8 -0.645657
8   9  0.763806
9  10 -0.331037

In [18]:
df.assign(ln_B=lambda x: np.log(x.A))

    A         B      ln_A      ln_B
0   1  0.517271  0.000000  0.000000
1   2 -0.347195  0.693147  0.693147
2   3  0.253190  1.098612  1.098612
3   4  0.445356  1.386294  1.386294
4   5  0.580297  1.609438  1.609438
5   6  2.167543  1.791759  1.791759
6   7 -0.332208  1.945910  1.945910
7   8 -0.645657  2.079442  2.079442
8   9  0.763806  2.197225  2.197225
9  10 -0.331037  2.302585  2.302585

In [13]:
df["ln_A"] = np.log(df.A)

In [16]:
df

    A         B      ln_A
0   1  0.517271  0.000000
1   2 -0.347195  0.693147
2   3  0.253190  1.098612
3   4  0.445356  1.386294
4   5  0.580297  1.609438
5   6  2.167543  1.791759
6   7 -0.332208  1.945910
7   8 -0.645657  2.079442
8   9  0.763806  2.197225
9  10 -0.331037  2.302585

In [25]:
# 숫자형 데이터를 카테고리컬한 데이터로 만들때 사용 
# 2번째인자 갯수로 카테로리 나눈다
pd.qcut(df.B,3,labels=["good","medium","bad"])

0    medium
1      good
2    medium
3    medium
4       bad
5       bad
6      good
7      good
8       bad
9      good
Name: B, dtype: category
Categories (3, object): [good < medium < bad]

In [27]:
df.max(axis=0)

A       10.000000
B        2.167543
ln_A     2.302585
dtype: float64

In [29]:
df.min(axis=1)

0    0.000000
1   -0.347195
2    0.253190
3    0.445356
4    0.580297
5    1.791759
6   -0.332208
7   -0.645657
8    0.763806
9   -0.331037
dtype: float64

In [33]:
# lower와 upper 구간의 값으로 trim ? 
df.A.clip(lower=2 , upper=3)

0    2
1    2
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: A, dtype: int64

In [35]:
# 절대값
df.abs()

      A         B      ln_A
0   1.0  0.517271  0.000000
1   2.0  0.347195  0.693147
2   3.0  0.253190  1.098612
3   4.0  0.445356  1.386294
4   5.0  0.580297  1.609438
5   6.0  2.167543  1.791759
6   7.0  0.332208  1.945910
7   8.0  0.645657  2.079442
8   9.0  0.763806  2.197225
9  10.0  0.331037  2.302585